@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

h1	{
	font-size: 150%;
}

h3	{
	font-size: 100%;
}

.note {
	font-style: italic;
	font-size: 85%;
}

ul {
	list-style-type: square;
	margin-top: 0.4em;
	margin-bottom: 0.8em;
	padding-left: 1.4em;
} 

.hw {
	font-weight: bold;
	font-size: 180%;
	margin-top: 0.25em;
	margin-bottom: 0.1em;
}

.pr {
	font-size: 140%;
}

.pr a {
	text-decoration: none;
	color: #000000;
}
.pr a:hover {
	text-decoration: underline;
}

.c {
	font-size: 160%;
	white-space: nowrap;
}

.nw {
	white-space: nowrap;
}

.cd table
{
	font-size: 95%;
	border-collapse: collapse;
	margin: 1px;
	border-radius: 5px;
}
.cd table tr.odd
{
	background-color: #f8f8f8;
}
.cd table th
{
	padding: 1pt 5pt 1pt 5pt;
	text-align: center;
	margin: 0px;
}
.cd table td
{
	border-top: #a0a0a0 1px solid;
	padding: 1pt 5pt 1pt 5pt;
	margin: 0px;
	text-align: center;
}
.cd table td.c {
	text-align: left;
}
.cd table td.d {
	text-align: left;
}


.mptmdbg1
{
	color: #ff0000	!important;
}
.mptmdbg2
{
	color: #f0a800	!important;
}
.mptmdbg3
{
	color: #00a000	!important;
}
.mptmdbg4
{
	color: #0000ff	!important;
}
.mptmdbg5
{
	color: #000000	!important;
}
.mptmdbgd
{
	color: #a0a0a0	!important;
}


.mptpleco1
{
	color: #dd0000	!important;
}
.mptpleco2
{
	color: #00aa00	!important;
}
.mptpleco3
{
	color: #0000ff	!important;
}
.mptpleco4
{
	color: #cc32ff	!important;
}
.mptpleco5
{
	color: #777777	!important;
}
.mptplecod
{
	color: #000000	!important;
}

.tc0
{
	color: #dd0000	!important;
}
.tc1
{
	color: #f0a800	!important;
}
.tc2
{
	color: #00a000	!important;
}
.tc3
{
	color: #0000ff	!important;
}
.tc4
{
	color: #000000	!important;
}
.tc5
{
	color: #a0a0a0	!important;
}
.tc6
{
	color: #777777	!important;
}
.tc7
{
	color: #964b00	!important;
}
.tc8
{
	color: #ffa6c9	!important;
}
.tc9
{
	color: #cc32ff	!important;
}

.s span:before
{
	content: " ";
}

.hsk
{
	float: right;
	font-weight: bold;
	font-size: 80%;
}

table.wli
{
}

table.wli td
{
	vertical-align: top;
}

table.wli a:link
{
	color: #000000;
}
table.wli a:link
{
	text-decoration: none;
}
table.wli a:visited
{
	text-decoration: none;
}
table.wli a:active
{
	text-decoration: none;
}
table.wli a:hover
{
	text-decoration: underline
}

.fn
{
	font-size: 85%;
	font-style: italic;
}

