@charset "UTF-8";
@namespace d url(http://www.apple.com/DTDs/DictionaryService-1.0.rng);

d|entry {
}

body {
	padding-top: 10pt;
}

* {
	font-family: arial, sans-serif;
	font-size: 100%;
}

.ch {
	display: block;
	font-family: 'arial unicode MS', sans-serif, arial;
	font-size: 125% !important;
	margin-bottom: 8pt;
}

h2 {
	font-size: 125%;
}

h3	{
	font-size: 100%;
}

.i, .p {
	font-style: italic;
}

.ln {
	text-decoration: underline;
	color: #008;
}

e, .m0, .m1, .m2, .m3, .m4, .m5, .m6, .m7, .m8, .m9 {
	display: block;
}

.m1 {
	margin-left: 1em;
}

.m2 {
	margin-left: 2em;
}

.m3 {
	margin-left: 3em;
}

.m4, .m5, .m6, .m7, .m8, .m9 {
	margin-left: 4em;
}

.e {
	color: #666;
	margin-left: 1em;
}

.c, .p {
	color: rgb(0, 128, 0);
}

.copyleft {
	display: inline-block;
	font-size: 125%;
	-webkit-transform: rotateY( 180deg );
	        transform: rotateY( 180deg );
}

.img_note {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 75%;
	color: #888;
}

.proper_delim {
	border-top: 1px dashed gray;
	margin: 0;
}

.green {
	color: green;
}