# игнорировать папку objects. она создаётся во время сборки словаря
objects_bkrs/*
objects_bruks/*

# игнорировать бинарники питона
*.pyc

# игнорировать сгенерированный xml-словарь
*/bruks.xml
*/brks.xml
*/bkrs.xml
*/bkrs[123].xml

# игнорировать исходный словарь. его последнюю версию можно загрузить с сайта bkrs.info
*.dsl

# загрузка свежей версии
**/downloads/

# игнорировать паку со сжатыми сконвертированными словарями
**/final/

# логи
*.log

# sublime text'овские файлы
*.sublime-project
*.sublime-workspace
